//styles for the create questions  from

.questions-count {
    width: 60px;
    height: 60px;
    position: absolute;
    font-size: 3rem;
    line-height: 2;
    border: 1px solid #1976d2;
}

.label__answers {
    padding: 7px 0 0;
}
