@import '_form.scss';
@import '_results.scss';
$bgColor: #1c1c25;
$lightBlue: #2196f3;
//general styles
html {
    position: relative;
    min-height: 100%;
}

body {
    background: $bgColor;
    margin-bottom: 9.25rem;
}

input.form-control {
    border: 2px solid $lightBlue;
}

header {
    background-color: #2196f3;
    margin-top: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9.25rem;
    margin-top: 20px;
    background-color: #2196f3;

    &:hover::before {
        content: '';
        position: absolute;
        background-color: #1976d2;
        left: 0;
        height: 9.25rem;
        animation: animateFoot;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    @keyframes animateFoot {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}
//classes

.js-hidden {
    display: none;
}

.my-container {
    margin: 2em 0;
    padding: 1em 0;
    color: white;
    border: 2px solid #1976d2;
    background: inherit;
}

.email {
    font-size: 2.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
    }
}
.pop-up__galery__list {
    font-size: 0;
    overflow: hidden;
}

.pop-up__galery__list .slick-current {
    border: 1px solid #00aeef;
}

.pop-up__galery__item {
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}

.pop-up__galery__title {
    margin-top: 29px;
    font-size: 30px;
    font-weight: 100;
    color: #2d4868;
    text-align: center;
}

.pop-up__galery {
    text-align: center;
    padding: 5px;
}

.pop-up__house-info {
    max-width: 450px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 20px;
}

.btn-blue {
    font-size: 16px;
    color: #fff;
    background: #00aeef;
    padding: 11px 24px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.pop-up__nav {
    font-size: 13px;
    padding: 10px;
    margin-top: 25px;
    background: #f0f0f0;
}

.pop-up__btns {
    background: inherit;
    border: none;
    line-height: 22px;
    cursor: pointer;
    color: #111;
    outline: none;
}

.pop-up__btn-prev {
    float: left;
}

.pop-up__btn-close {
    position: absolute;
    right: 10px;
    height: 32px;
    width: 32px;
    border: none;
    background-color: #00aeef;
    background-image: url(../images/XWhite.png);
    background-position: 9px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
}

.pop-up__galery__list img {
    display: block;
    height: auto;
    width: 100%;
}

.pop-up__btn-next {
    float: right;
}

.pop-up__btns:after,
.pop-up__btns:before {
    content: '';
    height: 14px;
    width: 10px;
    margin: 0 10px;
    vertical-align: middle;
    display: inline-block;
    background: url('../images/sprite.png');
}

.pop-up__btn-prev:before {
    background-position: -25px -586px;
}

.pop-up__btn-next:after {
    background-position: -44px -586px;
}
